// .card-img-top {
//   max-width:100%;

//   width: 100%;
//   height: auto;
//   object-fit:cover;
// }
.details__card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.details__card-con {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 2px rgb(58 58 68 / 24%), 0px 2px 4px rgb(90 91 106 / 24%);
  transition: all 0.5s ease;
}

.card-list__image_small {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 2px rgb(58 58 68 / 24%), 0px 2px 4px rgb(90 91 106 / 24%);
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transform: translate3d(0px, -2px, 0px);
  }
  cursor: pointer;
}

.details__images {
  display: flex;
  gap: 0.6rem;
  padding: 0.6rem;
  overflow-x: auto;
  box-shadow: 0px 1px 2px rgb(58 58 68 / 24%), 0px 2px 4px rgb(90 91 106 / 24%);
  border-radius: 0.25em;
  margin: 0.1em;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #0000003f;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0000003e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #0000007d;
  }

  &::-webkit-scrollbar-button:horizontal:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }
}
