$color-green: #4B9200;
$color-orang: #F9804B;
$color-orang-hover: #E47209;
$color-yellow: #FFEE2E;
$color-orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-orange_button_gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-green_gradient: linear-gradient(90deg, rgba(180,58,153,1) 0%, rgba(29,253,54,1) 50%, rgba(237,158,22,1) 100%);
$color-black_blue: #333B41;
$color-gray: #767474;
$color-gray_smoky: #ABABAB;
$color-light_gray: #F1F3F2;
$color-frosted_glass_white: #FDFDFF;
$color-rad: #D31414;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-modal-background: #F5F7F6;
$font-family-roboto: 'Roboto', sans-serif;

$color-header-background: black;
$color-footer-background: black;

$color-donate-orang: #FE9013;
$color-donate-gray: #929699;

$content-width: 1600px;
$custom-content-one: 1480px;
$custom-content-two: 1380px;
$tablet-width: 1000px;
$custom-tablet-one: 820px;
$mobile-big-width: 640px;
$custom-mobile-big-width: 590px;
$custom-middle-width: 460px;
$mobile-small-width: 320px;

// $content-width: 1160px;
// $tablet-width: 940px;
// $mobile-big-width: 640px;
// $custom-middle-width: 440px;
// $mobile-small-width: 320px;


