// @import "styles/abstract/constants";
// @import "styles/abstract/mixins";
// @import "styles/abstract/placeholders";

//@import "scripts/components/cardInVitrine/cardInVitrine.scss";
@import 'bootstrap/bootstrap.scss';
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}