.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

input.form-control + div.message {
  display: none;
}

input.form-control.is-invalid + div.message {
  display: block;
  color: #D31414;
}
